#dialDisplay{
        margin-top:200px;
    }
    #numberDisplay {
        width: 100px;
        height: 100px;
        border: 1px solid #222;
        border-collapse: collapse;
        margin-top: 10px;
        margin-left: auto;
        margin-right:auto;
        background: url("./../ressources/numberGradient25resized.png");
        display:block;
    }
    #firstDigit {
        width: 49px;
        height: 100px;
        border: 1px solid #222;
        margin-top: -1px;
        margin-left: -1px;
        margin-right: -1px;
        float: left;
        background-image: url("./../ressources/numbersTransparent.png");
    }
    #secondDigit {
        width: 49px;
        height: 100px;
        border: 1px solid #222;
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;
        position:relative;
        background-image: url("./../ressources/numbersTransparent.png");
        float: right;
    }
    .zero{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 0;
    }
    .one{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -100px;
    }
    .two{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -200px;
    }
    .three{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -300px;
    }
    .four{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -400px;
    }
    .five{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -500px;
    }
    .six{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -600px;
    }
    .seven{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -700px;
    }
    .eight{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -800px;
    }
    .nine{
        position:absolute;
        width: 49px;
        height: 100px;
        background-position: 0 -900px;
    }
    #statusLeds{
        display:block;
        height:50px;
    }
    .led{
        width:50px;
        height:50px;
        /* border:1px solid #222; */
        border-radius: 25px;
        display:block;
    }
    #correct{
        background: #004d00;
        float:left;
        margin-left:10px;
    }
    .correctOn{
        background: #33ff33 !important;

    }
    #error{
        background: #b30000;
        float:right;
        margin-right:10px;
    }
    .errorOn{
        background: #ff4d4d !important;
    }
    #dialDisplay{
        display:block;
        width:150px;
        margin-left: auto;
        margin-right: auto;
        height:300px;
    }
    #notches{
        position: absolute;
        width:150px;
        height:150px;
        border: 1px solid #666;
        border-radius: 75px;
        margin-top:20px;
        margin-left: auto;
        margin-right:auto;
        z-index:1;
    }
    
    .notchLine{
        position: absolute;
        width: 48%;
        height: 2px;
        left: 50%;
        top: 50%;
        background: #888;
        z-index:3;
        transform-origin: left center;
        transform: rotate(-90deg);
    }
    .notchLine2{
        position: absolute;
        width: 45%;
        height: 1px;
        left: 50%;
        top: 50%;
        background: #888;
        z-index:3;
        transform-origin: left center;
        transform: rotate(-90deg);
    }
    #dial{
        position: absolute;
        width:100px;
        height:100px;
        border: 1px solid #666;
        border-radius: 50px;
        margin-top:45px;
        margin-left: 25px;
        background:white;
        z-index:400;
    }
    .dialLine{
        position: absolute;
        width: 40%;
        height: 1px;
        left: 50%;
        top: 50%;
        z-index:1000;
        background: #888;
        transform-origin: left center;
        transform: rotate(-90deg);
    }
    .upLine{
        background: #888;
        transform: rotate(-60deg);
    }
    .downLine{
        background: #888;
        transform: rotate(-120deg);
    }
   
    